{{#partial "content"}}

    <p class="text-center  pt-5 jumbotron" id="center-style">
        An app that simplifies your tracking levels for endangered species.<br>
        Let's explore the world of unlimited tracking options.
    </p>


{{/partial}}
{{>layout.hbs}}